<?xml version="1.0"?>
<launch>
  <arg name="model" default="h2r5" />  
  <arg name="frameArm" default="base_link" />
  <arg name="frameGripper" default="palm_left" />
  <arg name="groupArm" default="left_arm" />
  <arg name="groupEe" default="left_hand" />
  <arg name="plannerId" default="RRTConnectkConfigDefault" />
  <arg name="transitions" default="" />
  <arg name="use_sim" default="false" />

  <arg unless="$(arg use_sim)" name="use_sim_args" value="" />
  <arg     if="$(arg use_sim)" name="use_sim_args" value="--sim" />
    
  <node name="tobi_picknplace_server" pkg="tobi_picknplace" type="tobi_picknplace_server_node" args="--model $(arg model) --transitions $(arg transitions) $(arg use_sim_args)" output="screen">
    <param name="model"                   value="$(arg model)" />  
    <param name="frameArm"                value="$(arg frameArm)" />
    <param name="frameGripper"            value="$(arg frameGripper)" />
    <param name="groupArm"                value="$(arg groupArm)" />
    <param name="groupEe"                 value="$(arg groupEe)" />
    <param name="plannerId"               value="$(arg plannerId)" />
    <rosparam file="$(find tobi_picknplace)/config/h2r5.yaml" command="load" />
    <--rosparam file="$(find tobi_picknplace)/config/katana.yaml" command="load" /->
  </node>

</launch>
