<?xml version="1.0"?>
<launch>
  <arg name="model" default="h2r5" />  <!--katana-->
  <arg name="endEffector" default="left_hand" />
  <arg name="frameArm" default="base_link" /> <!--katana_base_link-->
  <arg name="frameGripper" default="hand_tool_frame_left" /> <!--katana_gripper_tool_frame-->
  <arg name="groupArm" default="left_arm" /> <!--"arm"-->
  <arg name="groupEe" default="left_hand" /> <!--gripper-->
  <arg name="plannerId" default="RRTConnectkConfigDefault" />
  <arg name="graspGen" default="agni" />  <!--centroid or agni-->
  <arg name="transitions" default="" />
  <arg name="use_sim" default="false" />

  <arg unless="$(arg use_sim)" name="use_sim_args" value="" />
  <arg     if="$(arg use_sim)" name="use_sim_args" value="--sim" />
    
  <node name="tobi_picknplace_server" pkg="tobi_picknplace" type="tobi_picknplace_server_node" args="--model $(arg model) --transitions $(arg transitions) $(arg use_sim_args)" output="screen">
    <param name="model"                   value="$(arg model)" />  
    <param name="endEffector"             value="$(arg endEffector)" />
    <param name="frameArm"                value="$(arg frameArm)" />
    <param name="frameGripper"            value="$(arg frameGripper)" />
    <param name="groupArm"                value="$(arg groupArm)" />
    <param name="groupEe"                 value="$(arg groupEe)" />
    <param name="plannerId"               value="$(arg plannerId)" />
    <param name="graspGen"                value="$(arg graspGen)" />
    <rosparam file="$(find tobi_picknplace)/config/h2r5.yaml" command="load" />
    <!--rosparam file="$(find tobi_picknplace)/config/katana.yaml" command="load" /-->
  </node>

</launch>
